body {
    background-color: rgba(233, 236, 234, 0.952);
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    
}

.my-body{
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
    display: table;
}

td {
    padding-right: 10px;
}


.menu {
    position: fixed;
    display: table;
    margin-top: -2%;
    width: calc(100% - (-1%));
    margin-left: -4%;
}

.header {
    margin-top:3%;
}

#t_exp td, #t_exp th, #t_edu td, #t_edu th{
    border: 1px solid grey;
    padding: 1%;
}

table {
    width: 100%;
    border-collapse: collapse; 
    border: 2px solid rgba(233, 236, 234, 0.952); 
}


a {
    text-decoration: underline;
    color: black;
}

a:hover {
    text-decoration: none;
}

.element-head {
    font-weight: bold;
    padding: 3%;
    font-size: xx-large;
    text-align: left;
}


.l-col{
    width: 20%;
}

.menu > ul {
    width: 100%;
    height: 100%;
    background: rgba(165, 167, 165);
    margin-left: 2%;
    text-align: left;
    font-weight: bold;
}
.menu > ul > li {
    display: inline-block;
    padding: 1%;
}

.menu > ul > li:hover {
    background:rgba(233, 236, 234, 0.952);
  }
  
.menu > ul > li > a {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

#skills {
    position: absolute;
    width: 100%;
    text-align: center;
}

#skills > ul > li >img {
    width: auto;
    height: 100px;
}
#skills > ul > li {
    display: inline-block;
    margin: 5%;
}

#skills > ul {
    background-color: white;
    list-style-type:none;
    border-radius: 10px; 
    white-space:nowrap;
    overflow-x:auto;
    margin-left: auto;
    margin-right: 5%;
    width: 90%;
    box-shadow: 0 0 10px;
}
